<!DOCTYPE html>
<html lang="US_en">

<head>
    <meta charset="UTF-8">
    <title>SSD Automation</title>
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-route/angular-route.min.js"></script>
    <!-- custom css file -->
    <link rel="stylesheet" type="text/css" href="events.css">
	<link rel="stylesheet" type="text/css" href="styles.css">
    <!-- ng-table -->
    <script type="text/javascript" src="lib/ng-table/ng-table.min.js"></script>
    <link rel="stylesheet" type="text/css" href="lib/ng-table/ng-table.min.css">
</head>

<body ng-app="myApp1" ng-controller="myCtrl1">

<div class="container">
    <h2><b>Personalized list of upcoming events</b></h2>
	<h3><b>Select Radius within which you want to search for events(miles)</b>
	<select class="dropdown" ng-model="Radius" ng-change="GetValue()">
		<option value="100">100</option>
		<option value="200">200</option>
		<option value="300">300</option>
		<option value="400">400</option>
	</select> 
	</h3>
	</br>
	<div>
	 <p ng-bind="name"></p>
	</div>
	</br>
    <div class="panel-group" id="accordion" >
		<div ng-repeat = "event in allEvents">
		
			<div class="panel panel-default" >
					<div class="panel-heading"  >
						<h4 class="panel-title" >
								<div class="row" >
									<!--Displays Event name-->
									<div class="col-sm-4">
										<b><div type="text" ng-bind="event[0].substr(10)"></div></b>
									</div>
									<div class="col-sm-4"  type="text">
									<b>Time : </b>
									{{event[4].substr(9)}}
									</div>
								</div>
						</h4> <!--panel title ends here-->
					</div><!--panel heading ends here-->	
					<div class="panel-body">
							<div class="row">
								<div class="col-sm-8">
									<b>Event URL</b> <br/>
									{{event[1].substr(9)}}
									<br/>
									<br/><b>Artist</b> <br/>
									{{event[3].substr(12)}}
									<br/>
									<br/> <b>Venue Details</b> <br/> 
									{{event[7].substr(5)}}
									<br/>
									{{event[8].substr(6)}}
									<br/>
									{{event[9].substr(10)}}
									
								</div>
								<div class="col-sm-2"></div>
								<div class="col-sm-2" >
									<a type="btn btn-info pull-right" class="btn btn-info pull-right" href='maps_html.html' ng-click="saveLatLon($index)">See on Maps</a>
								</div>
								<div class="col-sm-2" >
								</div>
							</div>
					</div><!--panel body ends here-->
			</div><!--event panel ends here-->
        </div><!--for every event, ends here-->
    </div> <!--Panel group ends here--> 
	
</div>
<button class= "btn btn-info" onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
    
</body>

<script>

window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
    }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
    document.body.scrollTop = 0; // For Safari
    document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
}

	//initializing the application
	var app =  angular.module('myApp1', []);
	app.controller('myCtrl1', function($scope, $http){
		//Api Call to get access token
		 var req = {
            method: 'GET',
            url: 'http://localhost:8080/details'
        }
		global_token = "test";
		 names = []; //stores artists lists
		 var radius=50;//user input radius
		//response of access token api call
        $http(req).then(function(response) {
  				return response.data.value;  
            },
            function(error) {
                alert("spotify first 50 request alert "+error.data.message);
            }).then(function(token){ //token has access token value
            //With the help of access token, make an api call to spotify web api to get first 50 followed artists
			var req_followed = {
	            method: 'GET',
	            url: 'https://api.spotify.com/v1/me/following?type=artist&limit=50',
				headers: {
					"Authorization": "Bearer "+token
				}
        	} //request ends here
			//Spotify api call to retrieve next set of followed artists
			var x="4AVFqumd2ogHFlRbKIjp1t";
			var url_gen="https://api.spotify.com/v1/me/following?limit=50&after="+x+"&type=artist";
			var req_followed_after = {
		            method: 'GET',
		            url: url_gen,
					headers: {
						"Authorization": "Bearer "+token
					}
		        } //req ends here
		//response of first 50 artists is held here
		 $http(req_followed).then(function(response) {
               return response;    
            },
            function(error) {
                console.log(error);
            }).then(function(r){
            	console.log("Getting the first 50");
					//artists data-json parsing
				artists = r.data.artists.items;
				//push artists name to names list	
				for (var i = 0; i < artists.length; i++) {
					names.push(artists[i].name);
				}
			}); //response for first 50 ends here
          //response of next 50 artists is held here
			$http(req_followed_after).then(function(response) {
	               return response;
	            },
	            function(error) {
	                console.log(error);
	            }).then(sendData); //response for next 50 ends here
			})//response for access token ends here
		
		
	//function to hold followed artists spoitfy web api response
	function sendData(response)
	{	
		console.log("Getting the next 50");
		//artists data-json parsing
		artists = response.data.artists.items;
		//push artists name to names list	
		for (var i = 0; i < artists.length; i++) {
			names.push(artists[i].name);
		}
		//total-97 followed artists, after second call
		console.log(names.length);
		
		//code to hold user input radius
		
		$scope.GetValue = function(){
		console.log($scope.Radius);
		radius=$scope.Radius;
		}

				//user's current location is found here
				if (navigator.geolocation) {
					navigator.geolocation.getCurrentPosition(showPosition);//function showPosition is called
				} else {
					x.innerHTML = "Geolocation is not supported by this browser.";
				}
				
				//user's lat and long is held here
		function showPosition(position) {
				console.log("Getting the user's location");
				latitude = position.coords.latitude
				longitude = position.coords.longitude; 
				//api post call is made to send user's location, user input radius and aritst list
				$http.post("http://localhost:8080/lat/"+latitude+"/lon/"+longitude+"/rad/"+radius, JSON.stringify(names)).then(function(response){
					console.log("I'm getting google maps response");
					var all_events_array = [];//array of event arrays
					console.log(response); //response should hold event details as json 
					var eventsjson = response.data;
					var results = eventsjson.results.bindings;//code to parse events json response
				    for ( var i=0; i < results.length; i++){
				        var results_obj = results[i];
				        var event_array = [];
				        for (var key in results_obj){

				            var attName = key;
				            var attType = results_obj[key]["type"];
				            var attValue = results_obj[key]["value"];
				            event_array.push(attName + ": " + attValue);
				        }
				        all_events_array.push(event_array);
				    }//for loop ends here
					
					$scope.allEvents = all_events_array;
					alert($scope.allEvents);
		
		$scope.saveLatLon = function(i){
			
			$localStorage.lat = $scope.allEvents[i][5];
			$localStorage.lon  = $scope.allEvents[i][6];
			console.log($localStorage.lat)
			console.log($localStorage.lon)
		}
		
		$scope.getLatLon = function(i){
			
			$scope.lat = $localStorage.lat;
			$scope.lon = $localStorage.lon;
			
		}
				    //for (var i=0; i< all_events_array.length; i++){
			          //  var x = all_events_array[i];
			            //for( var k=0; k<x.length; k++){
			            	//var index=x[0].indexOf(":")+1;
			                //$scope.name = x[0].substr(index);//binding event name to UI
			                //console.log(x[k]);
			            //}
			        //}
                
                /*  
               
                Parse the json data here and make api calls to google maps api to find distance and time for different modes of transport
                
                */
                //for every event location, construct this url for every mode of transport
  	            //var modes=["driving", "walking", "transit", "bicycling"];
         		/* 
         		
         		Include code to make origins and destinations dynamic i.e. from the response, get event location, lat and long 
         		
         		
         		*/
                //api calls to google maps distance matrix api for different modes of transport
                //for(var i=0;i<modes.length;i++){
                	//var url_maps="https://maps.googleapis.com/maps/api/distancematrix/json?units=imperial&origins=33.4484,%20-112.0740&destinations=33.424564,%20-111.928001";
                	//if(modes[i]=="transit")
                		//url_maps+="&mode=transit&transit_mode=train&key=AIzaSyCR8NIwX38UOHk5unZH_yErmmJQ7n_V4iA";
                	//else
                		//url_maps+="&mode="+modes[i]+"&key=AIzaSyCR8NIwX38UOHk5unZH_yErmmJQ7n_V4iA";
                	//response from google maps api is held here
                    //$http.get(url_maps).then(function(response1){ //response1 holds json data for this request
                    	//console.log(response1.data.destination_addresses);
                    //});	//response-google maps api ends here
                //} //for loop ends here
                /*
                
               //Individual API calls
                var url_maps="https://maps.googleapis.com/maps/api/distancematrix/json?origins=Washington,DC&destinations=New+York+City,NY&mode=transit&transit_mode=train&key=AIzaSyCR8NIwX38UOHk5unZH_yErmmJQ7n_V4iA";
                var url_maps="https://maps.googleapis.com/maps/api/distancematrix/json?origins=Washington,DC&destinations=New+York+City,NY&mode=walking&key=AIzaSyCR8NIwX38UOHk5unZH_yErmmJQ7n_V4iA";
                var url_maps="https://maps.googleapis.com/maps/api/distancematrix/json?origins=Washington,DC&destinations=New+York+City,NY&mode=bicycling&key=AIzaSyCR8NIwX38UOHk5unZH_yErmmJQ7n_V4iA";
                var url_maps="https://maps.googleapis.com/maps/api/distancematrix/json?origins=Washington,DC&destinations=New+York+City,NY&mode=driving&key=AIzaSyCR8NIwX38UOHk5unZH_yErmmJQ7n_V4iA";
				*/ 
            //},
            //function(error) {
              //  alert("google maps url alert "+error.data.message);
            //});//api call to lat, long-endpoint-test.java ends here
		//}//showposition function call ends here
	}//send data function call ends here	
	});//myCtrl controller ends here

</script>